# Students performance in exams
#### Marks secured by the students in college

## Aim
#### To understand the influence of various factors like economic, personal and social on the students performance

## Importação das bibliotecas

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Ler a base de dados para um dataframe 'df' (Você deve completar o código faltante)

In [3]:
df = pd.read_csv("StudentsPerformance.csv")

#### Imprimindo o cabeçalho para entender os dados

In [4]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

#### Verificando o tamanho do dataset

In [5]:
print (df.shape)

(1000, 8)

#### Descrevendo o comportamento do dataset

In [6]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Verificando se existem valores faltantes

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

##### Como visto acima, não existem valores faltantes, o que não deve ocorrer no mundo real

####  Vamos agora verificar quais são os valores possíveis para cada feature

In [8]:
for feature in list(df):
    print('Feature {0} possui os seguintes valores possíveis: {1}\n'.format(feature, list(df[feature].unique())))

Feature gender possui os seguintes valores possíveis: ['female', 'male']

Feature race/ethnicity possui os seguintes valores possíveis: ['group B', 'group C', 'group A', 'group D', 'group E']

Feature parental level of education possui os seguintes valores possíveis: ["bachelor's degree", 'some college', "master's degree", "associate's degree", 'high school', 'some high school']

Feature lunch possui os seguintes valores possíveis: ['standard', 'free/reduced']

Feature test preparation course possui os seguintes valores possíveis: ['none', 'completed']

Feature math score possui os seguintes valores possíveis: [72, 69, 90, 47, 76, 71, 88, 40, 64, 38, 58, 65, 78, 50, 18, 46, 54, 66, 44, 74, 73, 67, 70, 62, 63, 56, 97, 81, 75, 57, 55, 53, 59, 82, 77, 33, 52, 0, 79, 39, 45, 60, 61, 41, 49, 30, 80, 42, 27, 43, 68, 85, 98, 87, 51, 99, 84, 91, 83, 89, 22, 100, 96, 94, 48, 35, 34, 86, 92, 37, 28, 24, 26, 95, 36, 29, 32, 93, 19, 23, 8]

Feature reading score possui os seguintes valores possíveis: [72, 90, 95, 57, 78, 83, 43, 64, 60, 54, 52, 81, 53, 75, 89, 32, 42, 58, 69, 73, 71, 74, 70, 65, 87, 56, 61, 84, 55, 44, 41, 85, 59, 17, 39, 80, 37, 63, 51, 49, 26, 68, 45, 47, 86, 34, 79, 66, 67, 91, 100, 76, 77, 82, 92, 93, 62, 88, 50, 28, 48, 46, 23, 38, 94, 97, 99, 31, 96, 24, 29, 40]

Feature writing score possui os seguintes valores possíveis: [74, 88, 93, 44, 75, 78, 92, 39, 67, 50, 52, 43, 73, 70, 58, 86, 28, 46, 61, 63, 53, 80, 72, 55, 65, 38, 82, 79, 83, 59, 57, 54, 68, 66, 62, 76, 48, 42, 87, 49, 10, 34, 71, 37, 56, 41, 22, 81, 45, 36, 89, 47, 90, 100, 64, 98, 51, 40, 84, 69, 33, 60, 85, 91, 77, 27, 94, 95, 19, 35, 32, 96, 97, 99, 15, 30, 23]

## Fazendo as substituições necessárias ( Você deve replicar este procedimento para todas as features possíveis)

In [9]:
lunch = {'standard' : 1,'free/reduced' : 0 }

df.lunch = df.lunch.map(lunch)

In [10]:
gender = {'male' : 1,'female' : 0 }
df.gender = df.gender.map(gender)

In [11]:
df["race/ethnicity"] = df["race/ethnicity"].map({'group B':0, 'group C':1, 'group A':2, 'group D':3, 'group E':4})

In [14]:
df["test preparation course"] = df["test preparation course"] .map({'none':0, 'completed':1})

In [16]:
df["parental level of education"] = df["parental level of education"].map({"bachelor's degree":0, 'some college':1, "master's degree":2,
       "associate's degree":3, 'high school':4, 'some high school':5})

## Imprimindo novamente as 10 primeiras linhas

In [7]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,1,none,72,72,74
1,female,group C,some college,1,completed,69,90,88
2,female,group B,master's degree,1,none,90,95,93
3,male,group A,associate's degree,0,none,47,57,44
4,male,group C,some college,1,none,76,78,75
5,female,group B,associate's degree,1,none,71,83,78
6,female,group B,some college,1,completed,88,95,92
7,male,group B,some college,0,none,40,43,39
8,male,group D,high school,0,completed,64,64,67
9,female,group B,high school,0,none,38,60,50

## Agora movendo o atributo classe para a ultima posição

In [8]:
list(df.columns)

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [9]:
df = df[['gender', 'race/ethnicity', 'lunch', 'test preparation course', 'math score',
        'reading score', 'writing score', 'parental level of education',]]

In [10]:
df.head(10)

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,parental level of education
0,female,group B,1,none,72,72,74,bachelor's degree
1,female,group C,1,completed,69,90,88,some college
2,female,group B,1,none,90,95,93,master's degree
3,male,group A,0,none,47,57,44,associate's degree
4,male,group C,1,none,76,78,75,some college
5,female,group B,1,none,71,83,78,associate's degree
6,female,group B,1,completed,88,95,92,some college
7,male,group B,0,none,40,43,39,some college
8,male,group D,0,completed,64,64,67,high school
9,female,group B,0,none,38,60,50,high school

## Salvar o dataframe para um arquivo CSV (Você deve completar o código faltante)

In [11]:
df.to_csv("students_final.csv")

## Agora vamos testar a performance de classificação na base como está

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Divido a base em treino e teste
X_, y_ = df.iloc[:,:-1], df.iloc[:, -1]
# Aplico o holdout
X_train, X_test, y_train, y_test = train_test_split(X_, y_, test_size=0.3, random_state=1)
# Instancio o classificador e imprimo os resultados
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred, target_names=list(df['parental level of education'].unique())))

ValueError: could not convert string to float: 'male'

## Agora aplicando o PCA

In [15]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
# Para x_train
pca.fit(X_train)
x_train_pca = pca.transform(X_train) 
# Para x_test
pca.fit(X_test)
x_test_pca = pca.transform(X_test)

## Você deve completar o codigo que instancia um classificador do tipo DecisionTreeClassifier e testa sua performance com a base de dados em que o PCA foi aplicado

In [16]:
clf_pca_2 = 
clf_pca_2
y_pred_pca_2 = 
print(classification_report(y_test, y_pred_pca_2, target_names=list(df['parental level of education'].unique())))

                     precision    recall  f1-score   support

 Graduação completa       0.16      0.19      0.18        63
Graduação incopleta       0.16      0.11      0.13        54
             Mestre       0.25      0.16      0.19        45
          Tecnologo       0.15      0.19      0.17        64
        EM completo       0.00      0.00      0.00        16
      EM incompleto       0.27      0.28      0.27        58

        avg / total       0.18      0.18      0.18       300

## Agora aplicando o T-SNE

In [17]:
from sklearn.manifold import TSNE

tsne = TSNE(n_components=2)
tsne_train = tsne.fit_transform(X_train)
tsne_test = tsne.fit_transform(X_test)

In [18]:
clf_tsne_2 = DecisionTreeClassifier()
clf_tsne_2.fit(tsne_train, y_train)
y_pred_tsne_2 = clf_tsne_2.predict(tsne_test)
print(classification_report(y_test, y_pred_tsne_2, target_names=list(df['parental level of education'].unique())))

                     precision    recall  f1-score   support

 Graduação completa       0.28      0.16      0.20        63
Graduação incopleta       0.26      0.13      0.17        54
             Mestre       0.11      0.09      0.10        45
          Tecnologo       0.14      0.09      0.11        64
        EM completo       0.05      0.06      0.05        16
      EM incompleto       0.21      0.48      0.29        58

        avg / total       0.19      0.19      0.17       300

## Texto sobre o efeito da redução de dimensionalidade